{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
{% endblock %}

{% block header %}


    <div class="header_con">
        <div class="header">
            <div class="welcome fl">欢迎来到天天生鲜!</div>
            <div class="fr">
                <div class="login_btn fl">
                </div>
                <script>
                    $.ajax({
                        type: 'GET',
                        url: '/user/is_login/',
                        async: true,
                        success: function (data) {
                            if (data['username']) {
                                var html1 = "<a>欢迎您：" + data['username'] + "</a>\n" +
                                    "<span>|</span>\n" +
                                    "<a href=\"{% url 'user:logout' %}\">退出</a>";
                                $('.login_btn').append(html1)
                            } else {
                                var html2 = "<a href=\"{% url 'user:login' %}\">登录</a>\n" +
                                    "<span>|</span>\n" +
                                    "<a href=\"{% url 'user:register' %}\">注册</a>";
                                $('.login_btn').append(html2)
                            }
                        },
                        error: function () {
                            alert('获取数据失败！');
                        }
                    })
                </script>

                <div class="user_link fl">
                    <span>|</span>
                    <a href="{% url 'user:user_center_info' %}">用户中心</a>
                    <span>|</span>
                    <a href="{% url 'cart:cart' %}">我的购物车</a>
                    <span>|</span>
                    <a href="{% url 'order:order' %}">我的订单</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="foot_link">
            <a href="#">关于我们</a>
            <span>|</span>
            <a href="#">联系我们</a>
            <span>|</span>
            <a href="#">招聘人才</a>
            <span>|</span>
            <a href="#">友情链接</a>
        </div>
        <p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
        <p>电话：010-****888 京ICP备*******8号</p>
    </div>
{% endblock %}
