{% extends 'base_main.html' %}

{% block title %}
    <title>天天生鲜-商品详情</title>
{% endblock %}

{% block body %}
    <div class="search_bar clearfix">
        <a href="{% url 'goods:index' %}" class="logo fl"><img src="/static/images/logo.png"></a>
        <div class="search_con fl">
            <input type="text" class="input_text fl" name="" placeholder="搜索商品">
            <input type="button" class="input_btn fr" name="" value="搜索">
        </div>
        <div class="guest_cart fr">
            <a href="{% url 'cart:cart' %}" class="cart_name fl">我的购物车</a>
            <div class="goods_count fl" id="show_count">1</div>
        </div>
    </div>

    <script>
        $('.input_btn').click(function () {
            var keywords = $('.input_text').val();
            $.ajax({
                type: 'post',
                url: '/goods/search/' + keywords + '/',
                async: true,
                data: {'keywords': keywords},
                success: function (data) {
                    if (data['url'] == '') {
                        alert('没这个东西')
                    } else {
                        window.location.href = data['url']
                    }
                },
                error: function () {
                    alert('请输入要所搜的商品')
                }
            })
        })
    </script>

    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类</h1>
                <span></span>
                <ul class="subnav">
                    <li><a href="{% url 'goods:goods_list' id=1 %}" class="fruit">新鲜水果</a></li>
                    <li><a href="{% url 'goods:goods_list' id=2 %}" class="seafood">海鲜水产</a></li>
                    <li><a href="{% url 'goods:goods_list' id=3 %}" class="meet">猪牛羊肉</a></li>
                    <li><a href="{% url 'goods:goods_list' id=4 %}" class="egg">禽类蛋品</a></li>
                    <li><a href="{% url 'goods:goods_list' id=5 %}" class="vegetables">新鲜蔬菜</a></li>
                    <li><a href="{% url 'goods:goods_list' id=6 %}" class="ice">速冻食品</a></li>
                </ul>
            </div>
            <ul class="navlist fl">
                <li><a href="{% url 'goods:index' %}">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="breadcrumb">
        <a href="{% url 'goods:index' %}">全部分类</a>
        <span>></span>
        <a href="#">{{ category.get_category_type_display }}</a>
        <span>></span>
        <a href="#">商品详情</a>
    </div>

    <form action="{% url 'cart:add_cart' id=good.id %}" method="post">
        <div class="goods_detail_con clearfix">
            <img class="goods_detail_pic fl" src="/media/{{ good.goods_front_image }}">

            <div class="goods_detail_list fr">
                <h3>{{ good.name }}</h3>
                <p>{{ good.goods_brief }}</p>
                <div class="prize_bar">
                    <span class="show_pirze">¥<em>{{ good.shop_price }}</em></span>
                    <span class="show_unit">单  位：500g</span>
                </div>
                <div class="goods_num clearfix">
                    <div class="num_name fl">数 量：</div>
                    <div class="num_add fl">
                        <input type="text" class="num_show fl" name="num" value="1">
                        <a class="add fr" style="cursor: pointer">+</a>
                        <a class="minus fr" style="cursor: pointer">-</a>
                    </div>
                </div>
                <div class="total">总价：<em>{{ good.shop_price }}元</em></div>
                <div class="operate_btn">
                    <a href="javascript:;" class="buy_btn">立即购买</a>
                    <button type="submit" class="add_cart" id="add_cart" style="cursor: pointer">加入购物车</button>
                </div>
            </div>
        </div>
    </form>

    <script>
        $('.add').click(function () {
            var num = Number($('.num_add>input').val());
            $('.num_add>input').val(num + 1);
            num = $('.num_add>input').val();
            total = parseInt(num) * parseInt({{ good.shop_price }});
            $('.total>em').empty();
            $('.total>em').prepend(total + ".0元")
        });
        $('.minus').click(function () {
            var num = Number($('.num_add>input').val());
            if (num <= 1) {
                $('.num_add>input').val(1);
            } else {
                $('.num_add>input').val(num - 1);
                num = $('.num_add>input').val();
                total = parseInt(num) * parseInt({{ good.shop_price }});
                $('.total>em').empty();
                $('.total>em').prepend(total + ".0元")
            }
        })
    </script>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>
                    <li>
                        <a href="#"><img src="/static/images/goods/goods001.jpg"></a>
                        <h4><a href="#">进口柠檬</a></h4>
                        <div class="prize">￥3.90</div>
                    </li>
                    <li>
                        <a href="#"><img src="/static/images/goods/goods002.jpg"></a>
                        <h4><a href="#">玫瑰香葡萄</a></h4>
                        <div class="prize">￥16.80</div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <ul class="detail_tab clearfix">
                <li class="active">商品介绍</li>
                <li>评论</li>
            </ul>
            <div class="tab_content">
                <dl>
                    <dt>商品详情：</dt>
                    <dd>草莓采摘园位于北京大兴区 庞各庄镇四各庄村
                        ，每年1月-6月面向北京以及周围城市提供新鲜草莓采摘和精品礼盒装草莓，草莓品种多样丰富，个大香甜。所有草莓均严格按照有机标准培育，不使用任何化肥和农药。草莓在采摘期间免洗可以直接食用。欢迎喜欢草莓的市民前来采摘，也欢迎各大单位选购精品有机草莓礼盒，有机草莓礼盒是亲朋馈赠、福利送礼的最佳选择。
                    </dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_js %}
    <div class="add_jump"></div>

    <script type="text/javascript" src="/static/js/jquery-1.12.2.js"></script>
    <script type="text/javascript">
        var $add_x = $('#add_cart').offset().top;
        var $add_y = $('#add_cart').offset().left;

        var $to_x = $('#show_count').offset().top;
        var $to_y = $('#show_count').offset().left;

        $(".add_jump").css({'left': $add_y + 80, 'top': $add_x + 10, 'display': 'block'})
        $('#add_cart').click(function () {
            $(".add_jump").stop().animate({
                    'left': $to_y + 7,
                    'top': $to_x + 7
                },
                "fast", function () {
                    $(".add_jump").fadeOut('fast', function () {
                        $('#show_count').html(2);
                    });
                });
        })
    </script>
{% endblock %}