{% extends 'base_main.html' %}

{% block title %}
    <title>天天生鲜-提交订单</title>
{% endblock %}

{% block body %}
    <div class="search_bar clearfix">
        <a href="{% url 'goods:index' %}" class="logo fl"><img src="/static/images/logo.png"></a>
        <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;提交订单</div>
        <div class="search_con fr">
            <input type="text" class="input_text fl" name="" placeholder="搜索商品">
            <input type="button" class="input_btn fr" name="" value="搜索">
        </div>
    </div>

    <script>
        $('.input_btn').click(function () {
            var keywords = $('.input_text').val();
            $.ajax({
                type: 'post',
                url: '/goods/search/' + keywords + '/',
                async: true,
                data: {'keywords': keywords},
                success: function (data) {
                    if (data['url'] == '') {
                        alert('没这个东西')
                    } else {
                        window.location.href = data['url']
                    }
                },
                error: function () {
                    alert('请输入要所搜的商品')
                }
            })
        })
    </script>

    <h3 class="common_title">确认收货地址</h3>

    <div class="common_list_con clearfix">
        <dl>
            <dt>寄送到：</dt>
            <select>
                {% for add in add_list %}
                    <option>
                        <dd>{{ add.0 }} {{ add.1 }} {{ add.2 }} {{ add.3 }}（{{ add.4 }} 收） {{ add.5 }}</dd>
                    </option>
                {% endfor %}
            </select>
        </dl>
        <a href="{% url 'user:user_center_site' %}" class="edit_site">编辑收货地址</a>
    </div>

    <h3 class="common_title">支付方式</h3>
    <div class="common_list_con clearfix">
        <div class="pay_style_con clearfix">
            <input type="radio" name="pay_style" checked>
            <label class="cash">货到付款</label>
            <input type="radio" name="pay_style">
            <label class="weixin">微信支付</label>
            <input type="radio" name="pay_style">
            <label class="zhifubao"></label>
            <input type="radio" name="pay_style">
            <label class="bank">银行卡支付</label>
        </div>
    </div>

    <h3 class="common_title">商品列表</h3>

    <div class="common_list_con clearfix">
        <ul class="goods_list_th clearfix">
            <li class="col01">商品名称</li>
            <li class="col02">商品单位</li>
            <li class="col03">商品价格</li>
            <li class="col04">数量</li>
            <li class="col05">小计</li>
        </ul>

        {% load goods_filter %}
        {% for gs in goods_sessions %}
            <ul class="goods_list_td clearfix">
                <li class="col01">{{ forloop.counter }}</li>
                <li class="col02"><img src="/media/{{ goods|goods_filter:gs.0|first }}"></li>
                <li class="col03">{{ goods|goods_filter:gs.0|slice:"1:2"|first }}</li>
                <li class="col04">500g</li>
                <li class="col05">{{ goods|goods_filter:gs.0|last }}元</li>
                <li class="col06">{{ gs|slice:"1:2"|first }}</li>
                <li class="col07">{% widthratio goods|goods_filter:gs.0|last 1 gs|slice:"1:2"|first %}元</li>
            </ul>
        {% endfor %}

    </div>

    <h3 class="common_title">总金额结算</h3>

    <div class="common_list_con clearfix">
        <div class="settle_con">
            <div class="total_goods_count">共<em></em>件商品，总金额<b>元</b></div>
            <div class="transit">运费：<b>10元</b></div>
            <div class="total_pay">实付款：<b>元</b></div>
        </div>
    </div>

    <div class="order_submit clearfix">
        <a href="javascript:;" id="order_btn">提交订单</a>
    </div>
    <script>
        var sum = 0;
        var num = 0;
        $('.col07').each(function () {
            var text = $(this).text();
            text = text.substring(0, text.length - 1);
            var n = $(this).prev().text();
            sum = sum + parseInt(text);
            num = num + parseInt(n);
        });
        $('.total_goods_count>b').last().prepend(sum);
        $('.total_goods_count>em').last().prepend(num);
        $('.total_pay>b').last().prepend(sum + 10)
    </script>
{% endblock %}

{% block bottom_js %}
    <div class="popup_con">
        <div class="popup">
            <p>订单提交成功！</p>
        </div>

        <div class="mask"></div>
    </div>
    <script type="text/javascript" src="/static/js/jquery-1.12.2.js"></script>
    <script type="text/javascript">
        $('#order_btn').click(function () {
            localStorage.setItem('order_finish', 2);

            $('.popup_con').fadeIn('fast', function () {

                setTimeout(function () {
                    $('.popup_con').fadeOut('fast', function () {
                        window.location.href = '{% url 'goods:index' %}';
                    });
                }, 3000)
            });
        });
    </script>
{% endblock %}